.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* Solution < 768px */
@media screen and (max-width: 768px){
  
  /* RESET */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* COMMON */
  body{
    font-size: 20px;
  }

  .container{
    width: 100%;
    padding: 20px;
  }

  h1{
    font-size: 60px;
  }

  h3{
    font-size: 40px;
    padding-bottom: 20px;
  }

  .row{
    width: 100%;
    margin-top: 40px;
  }

  img{
    width: 30%;
    min-width: 150px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  /* Lessons section */
  #lezioni{
    background-color: lightblue;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    padding: 20px 0;
  }

  /* Steps section */
  #steps{
    background-color: lightcoral;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    padding-bottom: 50px;
  }

  /* Why section */
  #why{
    background-color: lightgoldenrodyellow;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 40px;
  }

  #why .row hr {
    margin-top: 40px;
  }

  #why .row>.third{
    margin-bottom: 40px;
  }
}

/* Solution < 419px */
@media screen and (max-width: 419px) {

  /* Lessons section */
  #lezioni{
    background-color: lightgoldenrodyellow;
  }

  /* Steps section */
  #steps{
    background-color: lightblue;
  }

  #why{
    background-color: lightcoral;
  }
}